.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.main {
  display: flex;
  flex: 1;
  overflow: auto;
}

.content {
  flex: 1;
}

.header,
.footer {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}
